/frontend/node_modules
/frontend/.next
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/backend/node_modules
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/dist       